.links a{
    font-size: 25px;
    

}
.portfolio{

    background-color: yellow;
}
#para1{
    background-color: black;
    color: white;
    width: 135px;
    font-size: 12px;

}
#para2{
    
    font-size: 80px;
}
#para3{
    font-size:25px;
    
}
.Home{
    background-color: white;
}
.logo{
    font-size: x-large;
    font-weight: bold ;
}